ul {
  width: 100%;
}
.leftText {
  width: 20%;
}
.rightText {
  width: 20%;
  text-align: right;
}
.middleText {
  width: 60%;
  text-align: left;
}
.searchField {
  border-radius: 4px;
  background-color: lightgrey;
}
.searchText {
  background-color: whitesmoke;
  border-radius: 4px;
}
.details {
  height: 700px;
  padding: 30px;
}
